@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');


body{
    margin:0;
    font-family: 'Syne Tactile', monospace;
    cursor: url("cursor.png"), auto;
}

body *{
    box-sizing: border-box;
}

.container{
    font-family: 'Syne Tactile', monospace;
    background-image: url("/img/bg_all.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:900px;
    height:95%;
    margin: auto;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.623);
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.pai{

    width: 100vw;
    height: 100vh;
    background-image: url("img/bg_1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#letras-certas-e-erradas{
    
    text-transform: uppercase;
    display: flex;
    width: 95%;
    justify-content: space-around;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(204, 221, 204, 0.603);
    text-align: center;
    

    
}
.titulo{
    display: flex;
    text-align: center;
    width: 80%;
    
}  

#title{
    width: 250px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
    
.invisible{
    visibility: hidden;
}

#letra-repetida{
    
    color: red;
    margin-bottom: 5px;

}
.dica{
    font-weight: 700;
    font-size: 15px;
      
}
.dica2{
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 20px;
    visibility: hidden;  
}

footer{
    text-align: center;
    margin: 10px;
}


.imagem-forca{
    width:230px;
    height: 230px;
    margin-bottom: 25px;
    margin-top: 100px;
    margin-right: 12%;
}

.textbox{
    display: flex;
    align-items: center;
}

.erro0{
    background-image: url(/img/forcaInteiraGrama.png);
    background-position: center;
    background-repeat: no-repeat;

}

.erro1{
    background-image: url(/img/erro-1.png);
    background-position: center;
    background-repeat: no-repeat;
}
.erro2{
    background-image: url(/img/erro-2.png);
    background-position: center;
    background-repeat: no-repeat;
}
.erro3{
    background-image: url(/img/erro-3.png);
    background-position: center;
    background-repeat: no-repeat;
}
.erro4{
    background-image: url(/img/erro-4.png);
    background-position: center;
    background-repeat: no-repeat;
}
.erro5{
    background-image: url(/img/erro-5.png);
    background-position: center;
    background-repeat: no-repeat;
}
.erro6{
    background-image: url(/img/erro-6.png);
    background-position: center;
    background-repeat: no-repeat;
}
.erro7{
    background-image: url(/img/erro-7.png);
    background-position: center;
    background-repeat: no-repeat;
}
.erro8{
    background-image: url(/img/erro8.png);
    background-position: center;
    background-repeat: no-repeat;
}
.erro9{
    background-image: url(/img/erro9.png);
    background-position: center;
    background-repeat: no-repeat;
}

button{
    background-color: #f4972d;
    border: none;
    box-shadow: 0px 5px 0px #db7603;
    font-weight: bolder;
    height: 30px;
    width: 100px;
    
}

button:hover{
    background-color: #db7603;
    box-shadow: 0px 5px 0px #9e5706;
    cursor: url(cursor_hover.png),auto;
}

button:active{
    position: relative;
    top: 5px;
    box-shadow: none;
}

input{
    outline: none;
    background-color: rgba(255, 127, 80, 0.527);
    border: none;
    width: 50px ;
    height: 30px;
    font-size: 14pt;
    
}

#certas{
    color: rgb(53, 34, 34);
    font-weight: bold;
    display: flex;
    text-align: center;
}

#erradas{
    color: rgb(53, 34, 34);
    font-weight: bold;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swal2-styled.swal2-confirm{

   
    background-color: #f4972d; 
    border: none;
    box-shadow: 0px 5px 0px #db7603;
    font-weight: bolder;
    height: 30px;
    width: 100px;
    outline: none;
    border-radius: none;

}


.my-validation-message::before {
    display: none;
}

.my-validation-message i {
    margin: 0 .4em;
    color: #f27474;
    font-size: 1.4em;
}

#adicionar-palavra{
    width: 200px;
    margin-top: 10px;
}

#title-mobile{
    visibility: hidden;
}

@media (max-width: 450px) {

    @page{
       size: landscape;
   }

   body{
       box-sizing: border-box;
       height: 100vh;
       width: 100vw;
       margin: 0;
       padding: 0;
       font-size: 80%;
   }

   .pai{
       justify-content: space-between;
       margin: 0;
       padding: 0;
       background-position: top;
       background-size: cover;
   }

   .container{
       width: 90%;
       height: 90%;
       display: flex;
   }

   .dica {
       font-size: 14px;
   }

   .dica2{
       margin: 0;
       font-size: 14px;
       justify-self: flex-end;
       visibility: visible;
   }
   
   #letras-certas-e-erradas{
       font-size: 16px;
       padding: 5px;
       height: 80px;
       display: flex;
       justify-content: space-around;
       align-items: flex-start;
       margin-top: -20px;

   }

   footer{
       display: none;
   }

   #adicionar-palavra{

       margin: 0;

   }

   #title{
       display: none;
   }

   #title-mobile{
    visibility: visible;
    color:#3f280d;
}
   
   .imagem-forca{
       margin-top: 50px;
       margin-right: 0;
       
   } 
   .textbox{
       
     
       justify-self: center;
       display: inline-block;
       order: 1;
       width: 90%;

   }

   #btn-entrada{
       height:  90%;
       width: 60%;
   }

   #letras-certas{
       width: 200px;
   }

   #letras-erradas{
       width: 100px;
   }

}